# Files and directories created by pub
.dart_tool/
.packages
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# IMPORTANT: ignoring `/build/` folder in any form makes it impossible to publish
# the `build/pub/..` contents due to the recently introduced `pub` tool regulations.

# Directory created by dartdoc
doc/api/
